@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Prosto+One&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

header {
  background: url(../images/Header__bg.jpg) center center/cover;
  height: 100vh;
}

.header__navbar {
  background: #282828;
  width: 100%;
  position: fixed;
}

.header__nav {
  margin-left: 30px;
}

.header__nav-link {
  color: #fff;
  margin-left: 30px;
  font-weight: 700;
}

.header__shop {
  margin-left: 25px;
}

.burger {
  display: block;
  position: absolute;
  width: 30px;
  height: 20px;
  top: 25px;
  right: 8px;
  z-index: 100;
}

.burger::after, .burger::before {
  content: '';
  background-color: white;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger span {
  position: absolute;
  background-color: white;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.sidebar {
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  position: fixed;
  display: none;
  background-color: #282828;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 99;
}

.sidebar.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__content {
  width: 100%;
  height: 100%;
}

.header__content-title {
  font-family: "Prosto One", cursive;
  font-weight: 400;
  font-size: 100px;
  color: #fff;
}

.header__content-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #171718;
  line-height: 24px;
  text-transform: uppercase;
  padding: 13px;
  background-color: #fff;
  border-radius: 10px;
}

main {
  padding: 30px 0;
  background: #151515;
}

.details__row {
  margin-bottom: 50px;
}

.details__title {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}

.details__title-1 {
  margin-top: 30px;
}

.details__img {
  width: 100%;
}

.details__img-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__img-3::after {
  content: "";
  display: inline-block;
  width: 20%;
  height: 2px;
  background: #C4C4C4;
}

.details__img-3::before {
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  background: #C4C4C4;
}

.owl-carousel .owl-item img {
  width: auto !important;
  height: 100%;
}

.item__card {
  max-width: 255px !important;
  padding: 15px 0 22px;
  background: #fff;
  text-align: center;
  border-radius: 6px;
}

.item__card-img {
  margin: 10px auto;
}

.item__card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.item__card-price {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}

.item__card-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  padding: 7px 57px;
  margin-top: 20px;
  color: #fff;
  background: #151515;
}

footer {
  background: #282828;
  padding: 80px 0;
}

.footer__link {
  color: #fff;
  margin-left: 30px;
  font-weight: 700;
}

.footer__card {
  margin-left: 24px;
}

@media screen and (max-width: 576px) {
  .sidebar {
    padding: 40px 0;
  }
  .sidebar__nav {
    width: 100%;
    height: 100%;
  }
  .sidebar__nav-link {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px !important;
  }
  .sidebar__search-img {
    margin: 0;
  }
  .sidebar__search-shop {
    margin-left: 20px;
  }
  .header__content {
    text-align: center;
  }
  .header__content-title {
    font-size: 55px;
    text-align: center;
  }
  .details__title {
    font-size: 10px;
    line-height: 10px;
  }
  .item__card-btn {
    padding: 7px 40px;
  }
  .footer__card {
    margin-left: 2px;
  }
}

@media screen and (max-width: 768px) {
  .header__content-title {
    font-size: 65px;
  }
  .details__title {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
  .details__title-1 {
    margin: 30px 10px;
    text-align: center;
  }
  .details__img {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .details__img-3::after {
    content: "";
    display: none;
  }
  .details__img-3::before {
    content: "";
    display: none;
  }
  .details__img-3 {
    padding: 30px 0;
  }
}
