$fontF :"Oswald",sans-serif;
$fontFText:"Source Sans Pro", sans-serif;
$headerPad:40px;
$itemCol:#fff;
$headerTitleCol:#fff;
$headerSubCol:rgb(255 255 255 / 70%);
$textHCol:#464547;
$textArtCol:#666;
$btnTxtCol:#fff;
$figure:#55c2d8;
$vidHCol:#fff;
$vidSubCol:#fff;
$footCol:#464547;
$footLogoTxtCol:#fff;
$footInfCol:rgb(255 255 255 / 40%);
