@import "kit/variables", "kit/mixins";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

//Null styling
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

button,
.btn {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
  font-family: $fontF;
}
//Style
.container {
  max-width: 1111px;
  height: 100%;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  position: relative;
}

p {
  font-family: $fontFText;
}

@import "header", "menu", "text-section", "video-section", "footer";

@media screen and (max-width: 768px) {
  @import "header.mobile", "menu.mobile", "text-section.mobile",
    "video-section.mobile", "footer.mobile";
}
